/* * {
    outline: 1px solid red;
} */

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC';
}

#menu {
    background-color: rgba(0, 0, 0, 0.5);
    /* text-align: right; */
    padding: 15px 0px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
}

.taiwanlogo {
    top: -3%;
    width: 100px;
    position: absolute;
    left: 10%;
}

.menuWrap {
    max-width: 1200px;
    margin: auto;
    text-align: right;
}

.loginWrap {
    /* 上下 左右 */
    /* margin: 0px 0px; */
    /* 上右下左 */
    /* margin: 0px 10px 30px 0; */
    /* 個別 */
    margin-bottom: 10px;
}

.menuWrap li {
    display: inline;
}

.loginWrap span {
    margin: 0px 5px;
    color: white;
}

.liWrap li {
    margin-left: 10px;
    text-align: right;
}

.menuWrap a {
    font-family: 'Noto Sans TC';
    text-decoration: none;
    color: white;
}

.view {
    width: 100%;
    height: 100vh;
    background-image: url(../img/Jiufen.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.Tourism2020 h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 62%;
    left: 50%;
    font-size: 20px;
    color: #D62C20;
}

.Tourism2020 p {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    top: 75%;
    color: white;
    line-height: 1.5;
}




.view::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #181819d5;
}

.fontWarp {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    top: 40%;
    font-size: 10em;
    font-weight: 500;
    color: white;
    /* -webkit-text-stroke: 1px black; */
    font-family: 'Noto Sans TC';
}

.hotfont {
    background-color: #242A3A;
    padding-bottom: 70px;
}

video {
    display: block;
    margin: auto;
    width: 764px;
    height: 430px;
}

.hotfont>ul {
    padding: 50px 0;
}

.recommend {
    padding: 20px;
    font-size: 20px;
    color: rgb(71, 71, 177);
    text-align: center;
    font-weight: 400;
}

.tokyohot {
    padding: 0px 20px 20px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 400;

}

.hottavel {
    position: relative;
}

.hottavel::before {
    content: '';
    background-color: rgba(36, 42, 58, 0.644);
    width: 764px;
    height: 430px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#photoWarp {
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    overflow: hidden;
    height: 340px;

}

.imgItem img {
    width: 100%;
    height: 100%;
}

.photoCover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(36, 42, 58, 0.308);
}

.cardDetail {
    padding-left: 20px;
    width: 180px;
    height: 150px;
    border-left: 0.5px solid white;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    bottom: -120px;
    left: 50px;
}

.cardDetail p {
    line-height: 1.5;
}

.cardDetail p:nth-child(1) {
    color: white;
    font-size: 22px;
}

.cardDetail p:nth-child(2) {
    color: white;
    font-size: 16px;
}

.cardDetail p:nth-child(3) {
    color: red;
    font-size: 12px;
}

@keyframes GOTO {
    0% {
        transform: translate3d(50%, 0, 0);
    }

    100% {
        transform: translate3d(-80%, 0, 0);
    }
}

.imgItem {
    width: 300px;
    height: 200px;
    margin-left: 40px;
    flex-shrink: 0;
    position: relative;
    animation: GOTO linear 10s infinite;
}

.imgItem:hover .photoCover {
    display: none;
}

.imgItem:hover .cardDetail {
    display: flex;
}

.imgItem>img {
    width: 100%;
    height: 100%;
}

.special {
    width: 100%;
}

.specialSmall {
    width: 1200px;
    margin: auto;
    padding: 80px 0;
    display: flex;
}

.leftWarp {
    width: 30%;
}

.speTitle {
    margin: 50px 20px;
}

.specialView p:nth-child(1) {
    font-size: 30px;
    color: rgb(28, 175, 168);
    margin-bottom: 20px;
    text-align: center;
}

.specialView p:nth-child(2) {
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

.choose {
    margin: 0 20px 100px;
}

.speMenu>li:hover .FinoWarp {
    display: block;
}

.speMenu>li>a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.choose ul {
    padding: 20px 0 35px;
    background-color: rgb(78, 85, 104);
    color: white;
    position: relative;
}

.choose ul li {
    line-height: 1.5;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(109, 117, 139);
}

.choose>p {
    background-color: #242A3A;
    color: white;
    padding: 20px;
    font-size: 22px;
}

.FinoWarp {
    position: absolute;
    top: -120%;
    left: 100%;
    width: 250%;
    display: none;
}

.sorayaWarp {
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px 20px;
    color: black;
}

.sorayaWarp>img {
    width: 100%;
}

.btnsWrap {
    display: flex;
    justify-content: flex-end;
}

.btnsWrap>a {
    display: inline-block;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #3c7b91;
    color: white;
}

.FinoWarp>p:nth-of-type(1) {
    font-size: 22px;
    color: black;
    padding: 0 50px;
}

.FinoWarp>p:nth-of-type(2),
.speDetail {
    font-size: 16px;
    color: black;
    padding: 20px 50px;
}

.rightSpe {
    width: 70%;
}

.bGWarp {
    width: 100%;
}

.bGWarp>img {
    width: 100%;
}

.yamiFood {
    min-height: 100vh;
    background: url("../img/foodBg.jpg");
    background-size: cover;
}

.Taichung {
    padding-top: 150px;
}

.Taichung>h2 {
    font-size: 36px;
    text-align: center;
    color: black;
    font-weight: 700;
}

.foodWarp {
    width: 1400px;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.leftItem {
    width: 25%;
}

.middletItem {
    width: 50%;
}

.rightItem {
    width: 25%;
}

.titleF {
    margin: 20px 0 50px 0;
}

.titleF>p {
    font-size: 30px;
    color: rgb(6, 6, 68);
    font-weight: 800;
    line-height: 1.5;
}

.dotS {
    margin: auto;
    margin-top: 13px;
}

.dotS:nth-child(1) {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    border: 1px solid #D62C20;
}

.dotS:nth-child(2),
.dotS:nth-child(3),
.dotS:nth-child(4) {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: #D62C20 ;
}

.TCWarpText {
    margin-top: 50px;
}

.TCWarpText>p {
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
}
.TCWarpText>p:nth-child(2){
    color:#D62C20 ;
}
.TaichungWarp{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.TaichungWarp>img{
    width: 100%;
}
.sunPic{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sunPic>img{
    width: 80%;
}
.sunPic::after{
    content: '';
    width:100%;
    height: 100px;
    background: radial-gradient(ellipse at center, rgba(87,84,87,0.7) 0%, rgba(48,46,48,0) 45%, rgba(0,0,0,0) 100%);
}
.btnItem{
    margin-top: 10px;
    text-align: center;
}
.btnItem>a{
    display:inline-block;
    border: 1px solid black;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
}
.rightItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightItem>p:nth-child(1){
    font-size: 28px;
    line-height: 1.5;
    color:#D62C20;
    font-weight: 700;
}
.rightItem>p:nth-child(2){
    font-size: 28px;
    font-weight: 700;
}
.rightItem>p:nth-child(3){
    margin: 20px 0px ;
    line-height: 1.5;
}
.foot {
    width: 100%;
    height: 50px;
    background-color: #242A3A;
}
.foot>p {
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 50px;
}